locatorRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocationSearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="searchCriteria">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="AddressLine"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="maximumNumberOfLocations"/>
            <xs:attribute type="xs:byte" name="searchRadius"/>
            <xs:attribute type="xs:string" name="sort"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="businessSpecification">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="distanceUnit"/>
    </xs:complexType>
  </xs:element>
</xs:schema>